<mat-card class="workspace-card workspace-card--playlist">
    <mat-card-header class="workspace-card__header workspace-card__header--playlist">
        <mat-card-title>Your playlist</mat-card-title>
        <mat-icon (click)="closeOnMobileView()" aria-hidden="false" aria-label="Remove item from list">close</mat-icon>
    </mat-card-header>

    <ng-container *ngIf="!(playlistService.playlist$ | async).length">
        <div class="workspace-card__empty-list">
            <div class="workspace-card__empty-list__message">
                <h1>
                    <mat-icon aria-hidden="false" aria-label="Save playlist">music_note</mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Save playlist">music_note</mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Save playlist">music_note</mat-icon>
                </h1>
                <h1>Add your songs :)</h1>
            </div>
        </div>
    </ng-container>

    <mat-card-content>
        <mat-list>
            <mat-list-item class="list-item" *ngFor="let item of playlistService.playlist$ | async">
                <app-search-result-item [item]="item"></app-search-result-item>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>