<header class="app-header">
  <img src="../assets/images/pgs_logo.png" alt="pgs_logo">
</header>

<main class="app-workspace">
  <app-playlist class="app-workspace__playlist" #playlistComponent></app-playlist>
  <app-search class="app-workspace__search" #searchComponent></app-search>
</main>

<footer class="app-footer">
  <button #showButton
    class="app-footer__show-button" 
    mat-raised-button color="accent" 
    (click)="showPlaylist()">{{'playlist' | uppercase}} ({{playlistLength}})
  </button>

  <button *ngIf="!!(playlistLength > 1)" 
    class="app-footer__save-button" 
    color="accent" mat-raised-button 
    (click)="savePlaylist()">
    {{'save' | uppercase}}
    <mat-icon aria-hidden="false" aria-label="Save playlist">save_alt</mat-icon> 
  </button>
</footer>