<header class="app-header">
  <img src="../assets/images/pgs_logo.png" alt="pgs_logo">
</header>

<main class="app-workspace">
  <app-playlist class="app-workspace__playlist" #playlist></app-playlist>
  <app-search class="app-workspace__search"></app-search>
  <!-- <button mat-button (click)="showPlaylist()">TEST </button> -->
</main>

<footer class="app-footer">
  <button *ngIf="!!(playlistLength > 1)" color="accent" mat-raised-button (click)="savePlaylist()">Save {{(playlistLength )}}</button>
</footer>