<mat-card class="workspace-card workspace-card--search">
    <mat-card-header>
        <form [formGroup]="searchForm">
            <mat-form-field appearance="fill">
                <mat-label>Search</mat-label>
                <input matInput formControlName="searchValue">
            </mat-form-field>
        </form>
    </mat-card-header>

    <mat-progress-bar mode="indeterminate" *ngIf="isSearchLoading"></mat-progress-bar>

    <mat-list>
        <mat-list-item class="list-item" *ngFor="let item of playlistService.searchResultsList$ | async" (click)="addToPlaylist(item)">
            <app-search-result-item [item]="item" [isSearchResult]="true"></app-search-result-item>
        </mat-list-item>
    </mat-list>

    <mat-card-actions>
        <button mat-button (click)="loadMore()">LOAD MORE</button>
    </mat-card-actions>
</mat-card>