// brekpoints
$desktopBreakpoint: 600px;
// fonts
$mainFontFamily: Roboto, sans-serif;
//colors
$appBackgroungColor: rgb(48 48 48);
$appHeaderColor: rgb(255 118 38);
$workspaceCardColor: rgb(66 66 66);