// brekpoints
$desktopBreakpoint: 600px;
// fonts
$mainFontFamily: Roboto, sans-serif;
$mainFontColor: rgb(199 199 199);
$trackTitleFontSize: 1.3rem;
$trackAuthorFontSize: 1rem;
//colors
$appBackgroungColor: rgb(48 48 48);
$appHeaderColor: rgb(255 118 38);
$workspaceCardColor: rgb(66 66 66);