@import "styles-viariables/variables";
@import "./styles-partials/workspace-cards";
@import "./styles-partials/list-items";
@import "./styles-partials/scrollbars";
@import "./styles-partials/snackbar";
@import "./styles-partials/dialog";

html,
body {
    height: 100vh;
}
body {
    margin: 0;
    background-color: $appBackgroungColor;
}

* {
    box-sizing: border-box;
}

