@import "styles-viariables/variables";
@import "./styles-partials/workspace-cards";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: $mainFontFamily;
    background-color: $appBackgroungColor;
}
