@import "styles-viariables/variables";
@import "./styles-partials/workspace-cards";

html,
body {
    height: 100vh;
}
body {
    margin: 0;
    font-family: $mainFontFamily;
    background-color: $appBackgroungColor;
}

* {
    box-sizing: border-box;
}