snack-bar-container.mat-snack-bar-container {
    background-color: rgb(7, 17, 7);
    color: #92b493;
    font-size: 1.2rem;

    mat-icon {
        color: #3d8e41;
        width: 30px;
        height: 30px;
        margin: 0 15px 0 0;
        font-size: 30px;
    }
}