@import "styles-viariables/variables";

.workspace-card {
    background-color: $workspaceCardColor;
    height: 100%;
    &__header {
        color: $mainFontColor;
        font-size: $trackAuthorFontSize;

        &--playlist {
            padding: 20px 0;
            justify-content: space-between;
        }

        .mat-card-header-text {
            width: 100%;

            .mat-form-field {
                width: 100%;
            }
        }
    }
}

mat-card-actions.mat-card-actions {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    button {
        color: $mainFontColor;
        font-size: $trackAuthorFontSize;
    }
}

@media (min-width: $desktopBreakpoint) {
    .workspace-card {
        &__header {
            mat-icon {
                display: none;
            }
        }
        &--playlist {
            margin-right: 20%;
        }
    }
}
