@import "styles-viariables/variables";

.workspace-card {
    background-color: $workspaceCardColor;
    height: 100%;

    // &--playlist {
    //     width: 30%;
    // }

    // &--search {
    //     width: 70%;
    // }
}

@media (min-width: $desktopBreakpoint) {
    .workspace-card {
        &--playlist {
            margin-right: 20%;
        }
    }
}
