@import "styles-viariables/variables";

.workspace-card {
    background-color: $workspaceCardColor;
    height: 100%;
    &__header {
        color: $mainFontColor;
        font-size: $trackAuthorFontSize;
        padding: 20px 0;
        justify-content: space-between;
    }
}

@media (min-width: $desktopBreakpoint) {
    .workspace-card {
        &__header {
            mat-icon {
                display: none;
            }
        }
        &--playlist {
            margin-right: 20%;
        }
    }
}
